
.ug_logo{
    height:50px;
}

.search-input{border: none;
    border-radius: 25px;
  float: right;
  width: 500px;
  height: 40px;
  position:absolute;
  right:0;
  }
  




.nav_box {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2C2A58;
    /* position: fixed; */
    top: 0;
    width: 100%;
    position: sticky;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
     }
  .nav_list {
    display: inline;
    float:right;
    border-left: 1px solid #BD9C6C;
  }
  
  
  
  
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color .5s,color .5s;
    
  }
  

  .nav_list a:hover {
    background-color:#BD9C6C;
    color: white;
    
}
.nav_list:first-child{border-left:none;
}
.home_button{
        border-top-left-radius:10px;
}

.navbar{
    position: fixed;
    display: block;
    width: 100%;
    top:0 ;
    background-color: white;

}

body{
    padding-top: 10%;
}