
.ug_logo{
    height:50px;
}

.search-input{border: none;
    border-radius: 25px;
  float: right;
  width: 500px;
  height: 40px;
  position:absolute;
  right:0;
  }
  
  /* .navbar{
    display: flex;
    flex-direction: row;
} */

.nav_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    background-color: #2C2A58;
    color: white;
    text-decoration: none;
    padding: 3px;
    border-left: #BD9C6C;
}