
.ug_logo{
    height:50px;
}

.search-input{border: none;
    border-radius: 25px;
  float: right;
  width: 500px;
  height: 40px;
  position:absolute;
  right:0;
  }
  




.nav_box {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2C2A58;
    /* position: fixed; */
    top: 0;
    width: 100%;
    position: sticky;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
     }


  .nav_list {
    display: inline;
    float:right;
    border-left: 1px solid #BD9C6C;
  }
  
  
  
  
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color .5s,color .5s;
    
  }
  

  .nav_list a:hover {
    background-color:#BD9C6C;
    color: white;
    
}
.nav_list:first-child{border-left:none;
}


.home_button{
        border-top-left-radius:10px;
}

.navbar{
    position: relative;
    display: block;
    width: auto;
    top:0 ;
    background-color: white;
    margin: 8px;
    right: 0;
    left: 0;
    margin-top: 0px;
}

body{
    padding-top: 8%;
    padding-bottom: 200px;
}

footer{
  display: flex;
  flex-direction: row;
  background-color:#2C2A58;
  justify-content:space-evenly;
  position:relative;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 8px;
  margin-top: 20px;
  padding: 10px;
  height: auto;
  color: white;

}


.logo_container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-left: 0px;
  gap: 30px;
  text-align: left; 
}

.footer_item {
  list-style: none;
  color: white;
  border-right: 2px solid #BD9C6C;
  padding-right: 30px;    
  text-align: left;
  padding-left: 0px;
}

.logo_container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-left: 0px;
  gap: 30px;
  text-align: left;
}

.logos {
  opacity: 0.2;
  padding:0px;
  margin: 0px;
  align-items: center;
  transition: 1s;
}

.logos:hover {
  opacity: 1;
  padding: 5px;}


.hide{
  display: none;
}
.logo:hover + .hide{
  display: block;
  color:  white;
 }

 footer li:hover{
  margin-left:-20px;
 }


 footer li{transition: 2s;

 }

 h3{
  text-align: left;}

  .right_footer{display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
}

.line{
width: 85%;
opacity: 0.5;
}

.main{
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer a:hover{
color: #BD9C6C;
}

.Undergraduate_container {
  background: white;
  display: flex;
  flex: row;
  justify-content: space-around;
  align-items: center;
  min-height: 50%;
}
.accordion{
  position: relative;
  display: block;
  background-color: white;
  border: solid 1px #BD9C6C;
  flex-basis: 45%;
}
.accordion_item{
  display: block;
}
.accordion .accordion_content{
  display: block;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease, padding 0.3s linear;    
}
.accordion .accordion_content p{
  margin: 0;
  padding: 20px;
}
.accordion .accordion_content:target{
  height: 300px;
}

.accordion .accordion_trigger{
  text-decoration: none;
}
.accordion .accordion_title{
  position: relative;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 1em;
  background: #2C2A58;
  color: white;
  border: solid 1px #BD9C6C;

}


.accordion H3{
  text-align: center;
  color: #BD9C6C;
}

